@media screen and (max-width: 450px) {
    body {
        width: 100%;
    }

    .container {
        display: block;
        position: relative;
    }

    .texts {
        margin-top: -80px;
    }

    h2 {
        padding: 10px;
        margin-left: 30px;
        margin-bottom: 0px;
        margin-top: 30px ;
        font-size: 20px;
    }

    p {
        padding: 10px;
        margin-left: 30px;
    }

    #form {
       position: absolute;
       top: 230px;
       margin: 40px;
    }

    footer {
        position: relative;
        top: 500px; 
    }
}

@media screen and (max-width: 415px) {
    body {
        overflow: scroll;
    }
    #form {
        margin: 30px;
    }
}

@media screen and (max-width: 390px) {
    body {
        width: 100%;
        overflow: scroll;
    }

    .texts {
        width: 375px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        margin-top: 15px;
        padding: 5px;
    }

    #form {
        margin: 20px;
    }
}

@media screen and (max-width: 375px) {
    #form {
        margin: 15px;
    }
}

@media screen and (max-width: 321px) {
    .texts {
        width: 300px;
    }

    h2 {
       width: 200px;
    }

    p {
        width: 250px;
    }

    #form {
       top: 270px;
       width: 290px;
       margin: 15px;
    }

    footer {
       top: 550px;
    }
}